nav a:hover{
    text-decoration: underline;
}

nav{
    background-color: #EDA8D8;
}

h2,h3,h4,h5{
    font-family: arial;
}

table h4:hover{
    color: #EDA8D8;
}

footer{
    padding: 10px;
    padding-top:15px;
    background-color: #EDA8D8
}

#Uno{
    background-color: #EDA8D8;
}

#Dos img{
    border-radius: 50%;
}

#Tres{
    margin-top: 20px;
    width: 70%;
}

.not{
    padding-left: 10px;
}