nav a:hover{
    text-decoration: underline;
}

nav{
    background-color: #EDA8D8;
}

h2,h3,h4,h5{
    font-family: arial;
}

table h4:hover{
    color: #EDA8D8;
}

footer{
    padding: 10px;
    padding-top:15px;
    background-color: #EDA8D8
}

#Uno{
    background-color: #EDA8D8;
}

#Dos img{
    border-radius: 50%;
}

#Tres{
    margin-top: 20px;
    width: 70%;
}

#Cuatro{
    margin-left:100px;
}

#Cuatro label{
    padding-left: 45%;
}

.not{
    padding-left: 10px;
}

.cgal h5:hover{
    color: #EDA8D8;
}

@media screen and (max-width:650px){
    #Cuatro{
        margin: 0;
    }

    #Cuatro label{
        padding-left: 60%;
    }
}